.mainDiv{
  position: relative;
  display: flex;
  padding:50px;
  align-items: center;
  justify-content: center;
}

.square{
  background-color: aqua;
  width:100px; 
  height:100px;
  color: white;
  font-size: 99px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 4px;
  border-radius: 5px;
  padding: 0px 0px 7px 0px;
  cursor: pointer;
}
.square:hover{
  background-color: aquamarine;
}

.square.clicked{
  background-color: blueviolet;
}

